{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'inc_files_front.html' %}
</head>
{% block body %}

<body>

<section class="container-fluid  login-content-container">
<div class="row h-100">
    <div class="col-md-12 d-flex align-items-center justify-content-center p-5 pb-0">
        <div class='p-0'>
            <a href="{% url 'home' %}">
				<img src="{% static 'images/logo.png' %}" />
			</a>
        </div>
    </div>
    <div class='col-md-4 col-sm-12 offset-lg-4 custom_bg'>
        <h4 class='text-center text-light'>Create a New Password</h4>
        <br />
        <form class="row g-3 p-4 pt-0" method="POST" action="{% url 'forgot-password-complete' uidb64 token %}">
            {% csrf_token %}
            <div class="col-md-12 input-group">
                <span class="input-group-text bg-light border-0" id="basic-addon1"><i class="fas fa-key"></i></span>
                <input type="password" name='password' class="form-control p-2 border-0" placeholder="New Password *" aria-label="password"  aria-describedby="basic-addon1" required />
            </div>
            <div class="col-md-12 input-group">
                <span class="input-group-text bg-light border-0" id="basic-addon1"><i class="fas fa-key"></i></span>
                <input type="password" name='password2' class="form-control p-2 border-0" placeholder="Confirm Password *" aria-label="password2"  aria-describedby="basic-addon1" required />
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
                <button type="submit" class="custom_btn btn_login w-100">Reset Password</button>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
                <p class="text-light text-decoration-none">Remember your password? <a href="{% url 'login' %}" class="w-100 text-light text-center">Login</a></p>
            </div>
            
        </form>

    </div>
</div>

</section>

{% endblock body %}

{% include 'inc_files_bottom_front.html' %}

</body>
</html>