{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'inc_files_front.html' %}
</head>
{% block body %}

<body>

<section class="container-fluid  login-content-container">
<div class="row h-100">
    <div class="col-md-12 d-flex align-items-center justify-content-center p-5 pb-0">
        <div class='p-0'>
            <a href="{% url 'home' %}">
				<img src="{% static 'images/logo.png' %}" />
			</a>
        </div>
    </div>
    <div class='col-md-4 col-sm-12 offset-lg-4 custom_bg'>
        <h4 class='text-center text-light'>Forgot Password ?</h4>
        <br />
        <p class="text-light p-4 pt-0">Please fill in the Email-ID that you used to register. You will be sent an sms with instructions on how to reset your password.</p>
        <form class="row g-3 p-4 pt-0" method="POST" action="{% url 'forgot-password' %}">
            {% csrf_token %}
            <div class="col-md-12 input-group">
                <span class="input-group-text bg-light border-0" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                <input type="email" class="form-control p-2 border-0" name="email" id="email" placeholder="Enter your Email" aria-label="Email" aria-describedby="basic-addon1" required />
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
                <button type="submit" class="custom_btn btn_login w-100">Send Recovery Email</button>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
                <p class="text-light text-decoration-none">Remember your password? <a href="{% url 'login' %}" class="w-100 text-light text-center">Login</a></p>
            </div>
            
        </form>
    </div>
</div>

</section>

{% endblock body %}

{% include 'inc_files_bottom_front.html' %}

</body>
</html>