{% load static %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
<title>Eximine</title>
<link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/fontawesome/css/all.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/background-styling.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />